<% if resource.errors.any? %>
  <div  class="alert-warning" id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <p class="error_message_p"><%= message %></p>
    <% end %>
  </div>
<% end %>
