<% if resource.errors.any? %>
  <% resource.errors.messages[attribute].each do |message| %>
    <div>
      <div class="alert-warning error_message_text">
        <%= User.human_attribute_name(attribute) %><%= message %></br>
      </div>
    </div>
  <% end %>
<% end %>

