<% if @groups.present? %>
<table class="table text-nowrap table-responsive">
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td class="group-index--group_name">
          <%= link_to group_path(group) do %>
            <%= group.name %>
          <% end %>
        </td>
        <% group.group_users.each do |group_user| %>
          <td class="group-index--user_name">
            <%= attachment_image_tag group_user.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
            <%= group_user.user.name %>
            <% if group_user.invitation == false %>
              <span class="group-index--user_invitation">
                招待中
              </span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>・グループに所属していません</p>
<% end %>