<h2>新規グループ登録</h2>

<%= form_with( model: @group, local:true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <%= f.submit '新規登録', class: 'btn btn-sm btn-outline-success opinion_field' %>
<% end %>