<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <h5>ユーザーネーム：<%= @user.name %></h5>
  </div>
  <div class="col-2"></div>
</div>

<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <h5>メールアドレス：<%= @user.email %></h5>
  </div>
  <div class="col-2"></div>
</div>

<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <h5>ユーザー画像：<%= attachment_image_tag @user, :profile_image, :fill, 160, 160, format: 'jpeg', fallback: "no_image.jpg", size:'160x160' %></h5>
  </div>
  <div class="col-2"></div>
</div>

<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <h5><%= link_to '編集する', edit_user_path(@user.id), class: 'btn btn-outline-secondary fas fa-user-cog' %></h5>
  </div>
  <div class="col-2"></div>
</div>



