<div class="about-text text-center">
  <h5><span class="top-text--title">detail</span>　は予定管理を行うWebアプリケーションです。</h5>
  <div class="row justify-content-center about-box1">
    <div class="col-lg-4 d-flex justify-content-center align-items-center about-box-text">
      自分だけの予定帳をつくり、</br>
      忙しい日々の予定を丁寧に管理できます。
    </div>
    <div class="col-lg-4">
      <%= image_tag 'about-img-5.png', size: '320x320', class: "about-img" %>
    </div>
  </div>
  <div class="row justify-content-center about-box2">
    <div class="col-lg-4 about-img-2">
      <%= image_tag 'about-img-6.png', size: '320x320', class: "about-img" %>
    </div>
    <div class="col-lg-4 d-flex justify-content-center align-items-center about-box-text">
      複数人でグループを自由につくり、</br>
      グループメンバーの予定も閲覧できます。</br>
      </br>
      ※ グループ公開設定をした予定に限ります。
    </div>
  </div>
</div>
