<div class="about-text text-center">
  <h5><span class="top-text--title">detail</span>　は予定管理を行うWebアプリケーションです。</h5>
  <p>
    予定を管理する際のタグ機能や、予定に関連するMap・画像の登録ができます。</br>
    また、グループを作り、公開設定を行うことで、複数人で予定の共有もできます。
    是非、一度お試しください。
  </p>
</div>

<div class="d-flex justify-content-center">
  <%= image_tag 'about-img-1.png', class: "about-img" %>
</div>