<main>
  <section class="top-section_1">
    <div class="row text-sm-center justify-content-center top-section_1--image">
      <div class="col-md-4 text-md-right">
        <%= image_tag "logo-top.png", :size =>"300x150", class: "top-section_1__top-logo-img" %>
      </div>
      <div class="col-md-4 text-md-left top-section_1__text">
        <p class="top-section_1__text__title">
          <span class="top-section_1__text__logo">detail</span>　は予定管理を行う</br>
          Webアプリケーションです。
        </p>
        <%= link_to "  新規登録", new_user_registration_path, class: "fas fa-user top-section_1__text__sign-in-btn" %>
        <%= link_to "  ログイン", new_user_session_path, class: "fas fa-sign-in-alt top-section_1__text__log-in-btn" %>
      </div>
    </div>
  </section>

  <section class="top-section_2">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="text-center top-section_2__box">
        <i class="top-section_2__box__icon far fa-calendar-alt fa-4x"></i>
        <p class="top-section_2__box__text text-nowrap">カレンダーに予定を登録</p>
        <p class="text-nowrap">
          日々のスケジュールの</br>
          管理を自由に行えます
        </p>
      </div>
      <div class="text-center top-section_2__box">
        <i class="top-section_2__box__icon fas fa-list-ol fa-4x"></i>
        <p class="top-section_2__box__text text-nowrap">プリセット機能</p>
        <p class="text-nowrap">
          会議や打ち合わせなど</br>
          何度も行う予定は</br>
          スムーズに登録</p>
      </div>
      <div class="text-center top-section_2__box">
        <i class="top-section_2__box__icon fas fa-tags fa-4x"></i>
        <p class="top-section_2__box__text text-nowrap">予定をタグ付け</p>
        <p class="text-nowrap">
          仕事やプライベートに</br>
          それぞれ分けて</br>
          チェック
        </p>
      </div>
      <div class="text-center top-section_2__box">
        <i class="top-section_2__box__icon fas fa-map-marked-alt fa-4x"></i>
        <p class="top-section_2__box__text text-nowrap">Mapも一緒に</p>
        <p class="text-nowrap">
          保存した予定には</br>
          それぞれMapにピンを</br>
          立てれます
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-center flex-wrap">
      <div class="text-center top-section_2__box">
        <i class="top-section_2__box__icon far fa-image fa-4x"></i>
        <p class="top-section_2__box__text text-nowrap">画像も保存</p>
        <p class="text-nowrap">
          保存した予定に</br>
          時刻表など複数の</br>
          画像を登録
        </p>
      </div>
      <div class="text-center top-section_2__box">
        <i class="top-section_2__box__icon fas fa-users fa-4x"></i>
        <p class="top-section_2__box__text text-nowrap">グループ機能</p>
        <p class="text-nowrap">
          ユーザー同士で</br>
          グループを作り</br>
          メンバーの予定を共有
        </p>
      </div>
      <div class="text-center top-section_2__box">
        <i class="top-section_2__box__icon fas fa-user-shield fa-4x"></i>
        <p class="top-section_2__box__text text-nowrap">プライベート設定</p>
        <p class="text-nowrap">
          グループに所属しても</br>
          非公開設定なら</br>
          公開されません
        </p>
      </div>
    </div>

  </section>
</main>

