// イベント情報管理フォーム

.event-new--title,
.event-edit--title {
  margin-top: 30px;
}

.event-new--preset_title {
  margin-left: 5%;
  &:hover {
    opacity: 0.7;
  }
}

.preset {
  margin-left: 5%;

  &__index {
    width: 200px;

    &__box {
      &__name {
        background-color: #e0e0e0;
        margin: 8px 2px 8px 12px;
        padding: 6px 10px 6px 10px;
        border-radius: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      &__delete__btn {
        padding: 4px 6px;
        border-radius: 4px;
        margin-right: 10px;
        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
    }
  }
  &__link-box {
    margin-top: 10px;

    &__link {
      padding: 4px 6px;
      color: #212529;
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }
}

// イベントフォーム関連
.event-form {
  margin-top: 20px;

  &__release {
    position: relative;

    &__q-icon {
      font-size: 1.3rem;
      &:hover {
        opacity: 0.7;
      }
    }
    &__q-box {
      display: none;

      &__balloon {
        position: absolute;
        top: 8px;
        left: 122px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 25px solid #262626;
        border-bottom: 15px solid transparent;
      }
      &__text {
        position: absolute;
        top: 8px;
        left: 140px;
        margin: 0;
        padding: 4px;
        max-width: 80%;
        background-color: #f5f5f5;
        border: 1px solid #262626;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .event-add--form {
    margin: 10px 20px 10px 20px;
  }
}

// indexページ
.event-index-- {
  // leftSide
  &side {
    padding-top: 30px;
    padding-right: 0 !important;
    background-color: #ededed;

    &__ul {
      list-style: none;
      padding-left: 0;
    }

    &__li {
      min-height: 50px;
      padding-left: 40px;
      border-top: 1px solid #3a3a3a;
      border-bottom: 1px solid #3a3a3a;
    }
    &__li:first-child {
      border-top: none;
    }
    &__content {
      background-color: #fdfdfd
    }
  }
  // 予定追加部分
  &new_link {
    color: #212529;

    &:hover {
      text-decoration: none;
      color: #212529;
      opacity: 0.7;
    }

    &__text {
      font-size: 1.2rem;
    }
  }
  // 本日の予定
  &calendar {
    margin-top: 30px;
  }
  &today {
    &__title {
      padding-top: 10px;
      &:hover {
        opacity: 0.7;
      }
    }
    &__box {
    list-style: none;

      &__link {
        &:hover {
          text-decoration: none;
        }
        &__li {
          margin-top: 16px;
        }
        &__text {
          background: #7abcff;
          padding: 4px 8px 4px 8px;
          color: #202020;
          border-radius: 4px;
          height: 30px;
          width: 160px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  // タグ部分
  &tag {
    &__title {
      padding-top: 10px;

      &:hover {
        opacity: 0.7;
      }
    }
    &__menu {
      list-style: none;
      margin-bottom: 20px;

      &__li {
        margin-top: 16px;

        &__link {
          color: #212529;

          &:hover {
            color: #212529;
            text-decoration: none;
            opacity: 0.7;
          }
        }
      }
    }
  }
  // 所属グループ部分
  &group {
    &__title {
      padding-top: 10px;

      &:hover {
        opacity: 0.7;
      }
    }
    &__box {
      margin-top: 10px;
      list-style: none;

      &__name {
        width: 180px;

        &:hover {
          opacity: 0.7;
        }
      }
      &__link {
        color: #212529;
        margin-top: 10px;

        &__li {
          padding-left: 16px;
        }
        &:hover {
          text-decoration: none;
          color: #212529;
          opacity: 0.7;
        }
      }
    }
  }
  // 承認待ちグループ部分
  &invitation {
    margin-top: 16px;
    list-style: none;

    &__title {
      padding-top: 10px;

      &:hover {
        opacity: 0.7;
      }
    }
    &__box {
      padding-left: 12px;

      &__name {
        width: 180px;
        margin-bottom: 4px;
      }
      &__btn {
        margin-bottom: 20px;
        width: 180px;

        &__accept {
          display: inline-block;
        }
      }
    }
  }

  &none-data {
    margin-top: 16px;
  }

  // カレンダー部分
  &calendar {
    &__inside {
      &__name-box {
        height: 30px;

        &:hover {
          opacity: 0.8;
        }
        &__link {
          &:hover {
            text-decoration: none;
          }
        }
        &__name {
          height: 26px;
          width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #7abcff;
          padding: 2px;
          color: #202020;
        }
      }
      &__day-count {
        position: absolute;
        right: 2px;
        bottom: 0;

        &__link {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.alert {
  margin-bottom: 0;
}

.day {  // シンプルカレンダーのmonthの１日のbox
  position: relative;
}

@media screen and (max-width: 1200px) {
  .event-index-- {
    &side {
      display: flex;
      justify-content: space-around;
    }
    &group {
      width: 180px;
    }
    &calendar {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 992px) {
  .event-index-- {
    &side {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &new_link {
      margin: 16px 30px 0 0;
      height: 38px;
    }
    &today,
    &tag,
    &group,
    &invitation {
      margin-top: 16px;
      min-width: 200px;
    }
    &group {
      &__box {
        &__link {
          padding: 0 !important;
        }
      }
    }
    &calendar {
      width: 900px;
      border: 2px solid #a9a9a9;
      margin: 20px 20px 0 20px;
      overflow: hidden;
      overflow-x: scroll;
    }
  }
}

@media screen and (max-width: 554px) {
  .event-index-- {
    &side {
      display: block;
    }
  }
}

// showページ
.event-show-- {
  &main_box {
    margin-top: 30px;
  }
  &event-box {
    &__name,
    &__place,
    &__detail,
    &__remarks,
    &event-btn {
      margin-top: 30px;
    }
  }
  &map__map-box {
    margin-top: 30px;

    &__map {
      margin-top: 10px;
      width: 90%;
      height: 280px;
    }
    &__form {
      margin-top: 10px;
      display: inline-block;
    }
  }
  &map__pin {
    margin-top: 10px;

    &__title {
      display: inline-block;
    }
    &__box {
      display: inline-block;
      font-size: 1.2rem;
      margin-right: 10px;

      &__delete {
        padding: 4px;
        border-radius: 4px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &image {
    &__title {
      margin-top: 30px;
    }
    &__box {
      margin: 0 16px 16px 0;
      display: inline-block;

      &__delete {
        padding: 4px;
        vertical-align: top;
        border-radius: 4px;

        &:hover {
          text-decoration: none;
        }
      }
    }
    &__form {
      margin: 10px 0 20px 0;

      &__btn {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .event-show-- {
    &event-box {
      width: 90%;
      margin: 0 auto;
    }
    &map {
      width: 90%;
      margin: 0 auto;
      margin-top: 12px;
      padding-top: 16px;
      border-top: 1px solid #c0c0c0;

      &__map-box__map {
        width: 100%;
      }
    }
    &image {
      width: 90%;
      margin: 0 auto;
      margin-top: 12px;
      padding-top: 16px;
      border-top: 1px solid #c0c0c0;
    }
  }
}

// dayページ
.event-day-- {
  &main {
    margin: 30px auto 0 auto;
    width: 80%;
  }
  &table {
    margin-top: 30px;

    &__event-link {
      color: #202020;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}

// tagページ
.event-tag-- {
  &main {
    margin-top: 30px;
  }
  // カレンダー部分
  &calendar {
    &__inside {
      &__name-box {
        height: 30px;

        &:hover {
          opacity: 0.8;
        }
        &__link {
          &:hover {
            text-decoration: none;
          }
        }
        &__name {
          height: 26px;
          width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #7abcff;
          padding: 2px;
          color: #202020;
        }
      }
      &__day-count {
        position: absolute;
        right: 2px;
        bottom: 0;

        &__link {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {

  .event-tag--calendar {
    width: 900px;
    border: 2px solid #a9a9a9;
    margin: 20px 10px 0 10px;
    overflow: hidden;
    overflow-x: scroll;
  }

}