// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .group-calendar-box {
//   width: 80%;
// }

.calender-week--day {
  height: 300px;
}

.group-calendar-box {
  position: relative;
}

.group-show--day_count {
  position: absolute;
  bottom: 0;
  right: 2px;
}