// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .group-calendar-box {
//   width: 80%;
// }

// index-page
.group-index--title {
  margin-top: 30px;
}

.group-show--group_member {
  margin-top: 20px;
}

.group-show--invitation_member {
  margin-top: 40px;
}

.group-index--group_name,
.group-index--user_name {
  width: 16.6%;
}

// show-page

.group-show--title {
  margin: 30px 20px 0 0;
}

.group-show--edit_btn {
  padding: 0 12px 0 12px !important;
}

.calender-week--day {
  height: 300px;
}

.group-calendar-box {
  position: relative;
}

.group-show--day_count {
  position: absolute;
  bottom: 0;
  right: 2px;
}

// dayPage
.group-day--main_box {
  margin-top: 30px;
}

.group-day--event_box {
  margin-top: 30px;
  background-color: #e0e0e0;
  padding: 0px !important;
  height: 500px;
  border: 6px ridge rgba(57, 61, 80, .6);
}

.group-day--table {
  font-size: 1.5rem;
}

.group-day--table_time,
.group-day--table_title_time,
.group-day--table_before_th {
  padding-left: 20px !important;
}

.group-day--table_before {
  border-top: 6px ridge rgba(57, 61, 80, .6);
}