// index-page
.group-index-- {
  &title {
    margin-top: 30px;
  }
  &group_name {
    width: 16.6%;
  }
  &user_name {
    width: 16.6%;

    &__invitation {
      margin-left: 4px;
      background: #008437;
      padding: 4px 8px 4px 8px;
      border-radius: 2px;
      color: #f8f8f8;
    }
    &__accept {
      display: inline-block;
      margin: 0 10px 0 10px;
    }
  }
  &new-form {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .group-index--main {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// show-page
.group-show-- {
  &main {
    margin-top: 30px;
  }
  &title {
    padding-left: 20px;
  }
  &edit_btn {
    margin: 0 0 8px 10px;
  }
  &side {
    margin-top: 16px;
    margin-left: 30px;
  }
  &member-title {
    margin-top: 30px;
  }
  &member-box {
    &__member {
      padding-left: 20px;
    }
    &__name {
      padding-left: 20px;
    }
  }
  &invitation-title {
    &__box {
      &__img {
        padding-left: 20px;
      }
      &__delete-btn {
        padding: 4px !important;
      }
      &__name {
        padding-left: 20px;
      }
    }
  }
  &calendar-box {
    margin-top: 16px;
  }
  // カレンダー部分
  &calendar-box {

  }
  &event {
    height: 30px;

    &:hover {
      opacity: 0.8;
    }
    &__link {
      &__name {
        height: 26px;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #7abcff;
        padding: 2px;
        color: #202020;
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &day-count {
    position: absolute;
    bottom: 0;
    right: 2px;
  }
}
.calender-week--day {
  height: 300px;
}

@media screen and (max-width: 992px) {

  .group-show-- {
    &calendar {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #c0c0c0;
    }
    &calendar-box {
      margin-left: auto;
      margin-right: auto;
      width: 95%;
      overflow: hidden;
      overflow-x: scroll;
      border: 2px solid #a9a9a9;
    }
  }
}

// dayPage
.group-day-- {
  &main {
    margin: 30px auto 0 auto;
    width: 80%;
  }
  &table {
    margin-top: 30px;

    &__event-link {
      color: #202020;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}

// editPage
.group-edit-- {
  &title {
    margin-top: 30px;
  }
  &name-form {
    margin-top: 30px;
  }
  &__label,
  &__field {
    margin-right: 20px;
  }
  &table {
    margin-top: 20px;
  }
  &invitation-form {
    margin-right: 20px;
  }
  &flash {
    display: inline;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
}

@media screen and (max-width: 660px) {
  .group-edit--name-form__btn {
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 431px) {
  .group-edit--name-form {
    margin-left: 40px !important;
  }
}