<% if model.errors.any? %>
  <div class="alert-warning">
    <% model.errors.full_messages_for(attribute).each do |message| %>
      <p class="error_message_p"><%= message %></p>
    <% end %>
  </div>
<% end %>
